<header th:fragment="header"
        class="fixed top-0 left-0 right-0 z-50 h-16 bg-white border-b border-zinc-200" xmlns:th="">

    <div class="h-full flex justify-between items-center px-8">

        <div class="flex items-center gap-4">

            <button class="lg:hidden text-zinc-600">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>

            <span class="text-2xl font-extrabold tracking-tight text-black font-manrope">
                MindU
            </span>

        </div>

        <div class="flex items-center gap-4">

            <button class="relative p-2 rounded-full hover:bg-zinc-100 transition">

                <span class="material-symbols-outlined">
                    notifications
                </span>

                <span class="absolute top-2 right-2 w-2 h-2 bg-red-500 rounded-full"></span>

            </button>

            <div class="w-9 h-9 rounded-full overflow-hidden border border-zinc-200">

                <img
                        class="w-full h-full object-cover"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDJu_JVp6Rt2Fd_tSC5SUhGthyIX3cbdTT_3yqUYeuNYt2IEpeUpYwp0gvcU2YbpqWs4nMZute87EXaF2sPngS9M0RNiXt-kdVdqB2wzG3hN5w9mAlRAf0l92AS3qtqJs9V0lRbMvhAk5ewBv3ao0cs5FJ3nS9j-r9KuDTR994SEUfjLHH6syufi-Eowph4RWyOe5VNGKAlMxZNG0VEF1JMZqZJXEOupr3Ku4DW_BNfCW0m1waLfIUfr22vGVSA9nWedP7Q_KO7hgI"
                        alt="avatar">

            </div>

        </div>

    </div>

</header>